body.darkmode{background:#353535;color:#eee}
body.darkmode a:link,body.darkmode .toc button{color:#a3daef;-webkit-transition:all .2s;transition:all .2s}
body.darkmode a:visited{color:#a3daef}
body.darkmode a:hover{color:#fff}
body.darkmode #sidebar-wrap a:link{color:#eee}
body.darkmode #sidebar-wrap a:visited{color:#eee}
body.darkmode #sidebar-wrap a:hover{color:#fff}
body.darkmode #header-wrap{background:#2b2b2b}
body.darkmode #header-content,body.darkmode #navmenu-sidebar-closebtn{background:#232323}
body.darkmode #navmenu-wrap,body.darkmode #navmenu-wrap-sticky{background:#2f2f2f}
body.darkmode .navmenu,body.darkmode .menu-sticky{background:#2b2b2b}
body.darkmode #navmenu-sidebar-body ul li a,body.darkmode .navmenu-content li li a{color:#eee}
body.darkmode #navmenu-sidebar-body ul li a:hover{color:#fff}
body.darkmode .ms-submenu-button::after{border-color:#eee transparent transparent}
body.darkmode .ms-submenu-button.ms-submenu-shown::after{border-color:transparent transparent #eee}
body.darkmode #sidebar-wrap{background:#2f2f2f}
body.darkmode .PopularPosts .popular-post-widget-title h3.title,body.darkmode .PopularPosts .popular-post-widget-title h2.title{-webkit-box-shadow:0 0 0 2px #2f2f2f;box-shadow:0 0 0 2px #2f2f2f}
body.darkmode .normalwidget-title h3.title,body.darkmode .normalwidget-title h2.title{background:#2f2f2f}
body.darkmode #wrapper,body.darkmode #content-wrap,body.darkmode #content-wrap-produk-index,body.darkmode #navmenu-sidebar-body,body.darkmode .latestposts-title h2,body.darkmode .html-produk .normalwidget-title h3.title,body.darkmode .html-jasa .normalwidget-title h3.title,body.darkmode .html-produk .normalwidget-title h2.title,body.darkmode .html-jasa .normalwidget-title h2.title,body.darkmode .share-this-pleaseeeee,body.darkmode #ms-related-post p.ms-title,body.darkmode .FeaturedPost .featured-img-bg,body.darkmode .PopularPosts .popular-post-info,body.darkmode .Profile .individual,body.darkmode .Profile .team{background:#323232}
body.darkmode .FeaturedPost h3.title,body.darkmode .FeaturedPost h2.title{-webkit-box-shadow:0 0 0 2px #323232;box-shadow:0 0 0 2px #323232}
body.darkmode #header .widget a,body.darkmode #header .widget,body.darkmode #navmenu-sidebar-closebtn .closebtn,body.darkmode #navmenu-sidebar-closebtn .closebtn-title{color:#eee}
body.darkmode #header .widget p.title-description{color:#bbb}
body.darkmode .navmenu-content&gt;ul&gt;li&gt;a,body.darkmode .navmenu-button{color:#eee}
body.darkmode .navmenu-button div{background-color:#eee}
body.darkmode .navmenu-content&gt;ul&gt;li&gt;a::before{background:#eee}
body.darkmode .navmenu-content&gt;ul&gt;li.has-sub&gt;a::after{border-bottom:1px solid #eee;border-left:1px solid #eee}
body.darkmode .navmenu-content li li.has-sub::after{border-bottom:1px solid #eee;border-right:1px solid #eee}
body.darkmode .navmenu-content ul li ul{background:#4a4a4a}
body.darkmode .navmenu-content&gt;ul&gt;li&gt;ul:before{border-bottom-color:#4a4a4a}
body.darkmode .navmenu-content li li a:before{background:#eee}
body.darkmode #social-button .social-icon{background:#232323}
body.darkmode #social-button .social-icon:hover{background:#353535}
body.darkmode .iconsearch-label{background:#2b2b2b}body.darkmode .iconsearch-label:hover{background:#000}
body.darkmode .iconsearch-label path{fill:#eee}
body.darkmode .darkmode-switch .switch{opacity:1}
body.darkmode .darkmode-switch .switch-title{color:#bbb;opacity:1}
body.darkmode .darkmode-switch .slider{border:2px solid #bbb}
body.darkmode .darkmode-switch .slider:before{background:#eee}
body.darkmode .darkmode-switch .switch:hover .slider:before{background:#fff}
body.darkmode .normalwidget-title::after{background:#383838}
body.darkmode .normalwidget-title h3.title,body.darkmode .normalwidget-title h2.title{color:#eee}
body.darkmode .latestposts-title::after,body.darkmode .html-produk .normalwidget-title::after,body.darkmode .html-jasa .normalwidget-title::after{background:#383838}body.darkmode .latestposts-title h2,body.darkmode .html-produk .normalwidget-title h3.title,body.darkmode .html-jasa .normalwidget-title h3.title,body.darkmode .html-produk .normalwidget-title h2.title,body.darkmode .html-jasa .normalwidget-title h2.title{color:#eee}
body.darkmode .post-title,body.darkmode .post-title a{color:#eee}
body.darkmode .post-title a:hover{color:#fff}
body.darkmode .post-info,body.darkmode .post-info a,body.darkmode .breadcrumbs,body.darkmode .breadcrumbs a{color:#bbb}
body.darkmode .post-info a:hover,body.darkmode .breadcrumbs a:hover{color:#fff}
body.darkmode .FeaturedPost .post-summary,body.darkmode .FeaturedPost .post-summary .featured-info{background:#2f2f2f}
@media only screen and (max-width:600px){body.darkmode .FeaturedPost .post-summary{background:#323232}}
body.darkmode .FeaturedPost h3 a,body.darkmode .FeaturedPost h2 a{color:#eee}
body.darkmode .FeaturedPost h3 a:hover,body.darkmode .FeaturedPost h2 a:hover{color:#fff}
body.darkmode .FeaturedPost p.featured-desc{color:#eee}
body.darkmode #sidebar-wrap ul li::before{border:3px solid #eee}body.darkmode #sidebar-wrap ol li::before{color:#eee}
body.darkmode .PopularPosts .popular-post-snippet{color:#bbb}
body.darkmode .PopularPosts .popular-post-title a{color:#eee}
body.darkmode .PopularPosts .popular-post-title a:hover{color:#fff}
body.darkmode .Profile{color:#eee}body.darkmode .Profile .individual .profile-link{border:1px solid #eee;color:#eee}
body.darkmode .Profile .individual .profile-link:hover{border:1px solid #fff;color:#fff}
body.darkmode .Profile .profile-link-author{color:#eee}body.darkmode .Profile .profile-link-author:hover{color:#fff}
body.darkmode .Profile .location path{fill:#eee}
body.darkmode .FollowByEmail{background:#2d2d2d;color:#bbb}
body.darkmode .FollowByEmail ::-webkit-input-placeholder{color:#666;opacity:.9}
body.darkmode .FollowByEmail ::-moz-placeholder{color:#666;opacity:.9}
body.darkmode .FollowByEmail :-ms-input-placeholder{color:#666;opacity:.9}
body.darkmode .FollowByEmail ::-ms-input-placeholder{color:#666;opacity:.9}
body.darkmode .FollowByEmail ::placeholder{color:#666;opacity:.9}
body.darkmode .FollowByEmail .follow-by-email-address{background:#fff}
body.darkmode .label-size a.label-name{border:1px solid #eee}
body.darkmode .label-size a.label-name:hover{border:1px solid #fff}
body.darkmode iframe.blogger-comment-from-post{padding:0 10px;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box}
body.darkmode #footer-outer{background:#313131}
body.darkmode #footer-content{background:#282828;color:#eee}
body.darkmode #footer-content a{color:#eee}
body.darkmode #footer-content a:hover{color:#fff}
